mat-toolbar {
  width: 100%;
  padding: 0 4em;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon {
  margin-right: 1em;
}

.logo:active, .logo:focus  {
  outline: none;
  box-shadow: none !important;
}

.logo:hover {
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  mat-toolbar {
    width: 100%;
    padding: 0 1em;
  }

  .icon {
    margin-right: 0;
  }
}
