.container{
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    
}
html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}